/*****************************
 *  ========General========  *
 *****************************/
html {
    position: relative;
    min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 60px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    font-size: 7.5em;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
}
.header {
    margin: 0 auto;
    margin-top: 30%;
    min-width: 100%;
}

/****************************
 *  ========Navbar========  *
 ****************************/
.navbar {
    /*background-color: #333;*/
    background: transparent;
}
.navbar a:hover {
    color: #333;
    background-color: transparent;
}
li a {
    color: #333;
    font-family: quicksand;
    font-variant: lighter;
    font-size: 1.3em;
}
.glyphicon {
    font-size: 1.5em;
    margin: 0 auto;
}
.navbar-brand {
    color: #333;
}
.navbar-brand:hover .glyphicon {
    text-decoration: underline;
}
.navbar > .container-fluid > .collapse > ul:hover a:hover {
    background: transparent;
}
.icon-bar {
    background-color: #333;
}
.navbar-toggle {
    border-color: #333;
}
.navbar-header > button:hover {
    box-shadow: 0 0 2px 2px white;
}
.navbar-nav {
    float: right;
}
.navbar-nav > li, a:hover .glyphicon {
    text-decoration: underline;
    background-color: transparent;
}

/*****************************
 *  ========Buttons========  *
 *****************************/
 /* white circles */
.circle {
    margin: 0 auto;
    background-color: white;
    border-radius: 600px;
    height: 250px;
    width: 250px;
    margin-top: 6%;
    box-shadow: 0 0 5px 2px #333;
}
/* black circle */
.mainCircle {
    background-color: #333;
    box-shadow: 0 0 5px 2px #fff;
}
.container > .row > .text-center > .col-sm-6 {
    font-family: quicksand;
    font-variant: lighter;
}
.container > .row > .text-center > .col-sm-6 > .col-sm-6 > label {
    margin: 0 auto;
    margin-top: 25%;
    border: solid #fff 1px;
    font-size: 1em;
    height: 25px;
    width: 130px;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px #333;
}
.container > .row > .text-center > .col-sm-6 > .col-sm-6 > .dropdown {
    margin: 0 auto;
    margin-top: 15%;
    background-color: transparent;
    height: 45px;
    width: 160px;
}
.container > .row > .text-center > .col-sm-6 > .col-sm-6 > .dropdown > button {
    background: #fff;
    border: solid white 1px;
    height: 75px;
    width: 160px;
    font-size: 1.2em;
    box-shadow: 0 0 5px 2px #333;
    color: #333;
}
.container > .row > .text-center > .col-sm-6 > .col-sm-6 > .dropdown > .dropdown-toggle:focus, .dropdown-toggle:active {
    background-color: #333;
    border-color: #fff;
    color: #fff;
}

.one-player-button {
    background: #fff;
    border: solid #333 1px;
    height: 50px;
    width: 160px;
    font-size: 1.2em;
    margin-top: 30%;
    box-shadow: 0 0 5px 2px #333;
    color: #333;
}
.one-player-button:hover {
    background-color: #333;
    border-color: #fff;
    color: #fff;
}
.one-player-button:active:hover {
    background-color: #333;
    color: #fff;
}

.two-player-button {
    margin-top: 10%;
    background: #fff;
    border: solid #333 1px;
    height: 50px;
    width: 160px;
    font-size: 1.2em;
    box-shadow: 0 0 5px 2px #333;
    color: #333;
}
.two-player-button:hover {
    background-color: #333;
    border-color: #fff;
    color: #fff;
}
.two-player-button:active:hover {
    background-color: #333;
    color: #fff;
}

.samurai-button {
    background: #fff;
    border: solid #333 1px;
    height: 50px;
    width: 160px;
    font-size: 1.2em;
    margin-top: 30%;
    box-shadow: 0 0 5px 2px #4574BF;
    color: #333;
}
.samurai-button:hover {
    background-color: #4574BF;
}
.samurai-button:active:hover {
    background-color: #333;
    box-shadow: 0 0 5px 2px #4574BF;
}
.samurai-button:focus {
    background-color: #fff;
    color: #333;
    box-shadow: none;
}

.geisha-button {
    background: #fff;
    border: solid #333 1px;
    height: 50px;
    width: 160px;
    font-size: 1.2em;
    margin-top: 10%;
    box-shadow: 0 0 5px 2px #C44141;
    color: #333;
}
.geisha-button:hover {
    background-color: #C44141;
}
.geisha-button:active:hover {
    background-color: #333;
    box-shadow: 0 0 5px 2px #C44141;
}
.geisha-button:focus {
    background-color: #fff;
    box-shadow: 0 0 5px 2px #C44141;
    color: #333;
}
